<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Carrito.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <div class="header">
                <h2>Detalles</h2>
                <i class='bx bxs-x-circle'>
                    <a href="../index.html"></a>
                </i>
            </div>
            <div class="productos">
                <div class="container">
                    <img src="../storage/img/abrigo1.png">
                    <div>
                        <h5>Abrigo 01</h5>
                        <div class="cantidad">
                            <p>1</p>
                        </div>
                    </div>
                    <h5 class="alone">$500.000</h5>
                    <div>
                        <i class='bx bxs-x-circle'></i>
                        <h6>$499.99</h6>
                        
                    </div>
                </div>
                <div class="container">
                    <img src="../storage/img/abrigo1.png">
                    <div>
                        <h5>Abrigo 01</h5>
                        <div class="cantidad">
                            <p>1</p>
                        </div>
                    </div>
                    <h5 class="alone">$500.000</h5>
                    <div>
                        <i class='bx bxs-x-circle'></i>
                        <h6>$499.99</h6>
                        
                    </div>
                </div>
                <div class="container">
                    <img src="../storage/img/abrigo1.png">
                    <div>
                        <h5>Abrigo 01</h5>
                        <div class="cantidad">
                            <p>1</p>
                        </div>
                    </div>
                    <h5 class="alone">$500.000</h5>
                    <div>
                        <i class='bx bxs-x-circle'></i>
                        <h6>$499.99</h6>
                        
                    </div>
                </div>
                <div class="container">
                    <img src="../storage/img/abrigo1.png">
                    <div>
                        <h5>Abrigo 01</h5>
                        <div class="cantidad">
                            <p>1</p>
                        </div>
                    </div>
                    <h5 class="alone">$500.000</h5>
                    <div>
                        <i class='bx bxs-x-circle'></i>
                        <h6>$499.99</h6>
                        
                    </div>
                </div>
            </div>
            <div class="total">
                <div>
                    <h2>Total</h2>
                    <h2>$1.999.8</h2>
                </div>
                <button>Pagar</button>
            </div>
            <div></div>
        </section>
    </main>
</body>
</html>