<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Menu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <main>
        <h1><a href="../index.html#pr1">Producto 1</a></h1>
        <h1><a href="../index.html#pr2">Producto 2</a></h1>
        <h1><a href="../index.html#pr3">Producto 3</a></h1>
        <h1><a href="../index.html#pr4">Producto 4</a></h1>
        <h1><a href="../index.html#pr5">Producto 5</a></h1>
        <h1><a href="../index.html#pr6">Producto 6</a></h1>
        <h1><a href="../index.html#pr7">Producto 7</a></h1>
        <h1><a href="../index.html#pr8">Producto 8</a></h1>
    </main>
</body>
</html>