<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Obtener.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <div class="icon">
                <i class='bx bxs-x-circle'>
                    <a href="../index.html"></a>
                </i>
            </div>
            <img src="../storage/img/abrigo1.png">
            <div class="div_text">
                <h1>Abrigo 01</h1>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic soluta officiis quasi perspiciatis, omnis aspernatur sunt dolore iste inventore minima quo in adipisci maiores fugit voluptates praesentium explicabo corporis fugiat!</p>
                <div class="prices">
                    <h4>$100.000</h4>
                    <h6>$99.99</h6>
                </div>
                <div class="button">
                    <div>
                        <p>Cantidad...</p>
                    </div>
                    <button><a href="Carrito.html">Agregar</a></button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>